/TWAIN-Samples/Twain_App_sample01/Installer/.vs/
/TWAIN-Samples/Twain_App_sample01/Installer/TWAINAPP_win32_installer/
/TWAIN-Samples/Twain_App_sample01/Installer/TWAINAPP_win64_installer/
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/.vs/
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/Debug/
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/GeneratedFiles/
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/Release/
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/TWAIN_App_QT_2017.vcxproj.filters
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/TWAIN_App_QT_2017.vcxproj.user
/TWAIN-Samples/Twain_App_sample01/TWAIN_App_QT/TWAIN_App_QT/TWAIN_App_QT_2017.vcxproj.vspscc
/TWAIN-Samples/Twain_App_sample01/pub/
/TWAIN-Samples/Twain_App_sample01/visual_studio/.vs/
/TWAIN-Samples/Twain_App_sample01/visual_studio/Debug/
/TWAIN-Samples/Twain_App_sample01/visual_studio/Release/
/TWAIN-Samples/Twain_App_sample01/visual_studio/Release32/
/TWAIN-Samples/Twain_App_sample01/visual_studio/TWAIN_APP_VS2017.vcxproj.user
/TWAIN-Samples/Twain_App_sample01/visual_studio/x64/
/TWAIN-Samples/Twain_App_sample01/visual_studio_mfc/.vs/
/TWAIN-Samples/Twain_App_sample01/visual_studio_mfc/Debug/
/TWAIN-Samples/Twain_App_sample01/visual_studio_mfc/Release/
/TWAIN-Samples/Twain_App_sample01/visual_studio_mfc/Release32/
/TWAIN-Samples/Twain_App_sample01/visual_studio_mfc/TWAIN_APP_VS2017_mfc.vcxproj.user
/TWAIN-Samples/Twain_DS_sample01/Installer/.vs/
/TWAIN-Samples/Twain_DS_sample01/Installer/Backup/
/TWAIN-Samples/Twain_DS_sample01/Installer/TWAINDS_win32_installer/
/TWAIN-Samples/Twain_DS_sample01/Installer/TWAINDS_win64_installer/
/TWAIN-Samples/Twain_DS_sample01/pub/
/TWAIN-Samples/Twain_DS_sample01/src/GeneratedFiles/
/TWAIN-Samples/Twain_DS_sample01/visual_studio/.vs/
/TWAIN-Samples/Twain_DS_sample01/visual_studio/Backup/
/TWAIN-Samples/Twain_DS_sample01/visual_studio/Debug/
/TWAIN-Samples/Twain_DS_sample01/visual_studio/Release/
/TWAIN-Samples/Twain_DS_sample01/visual_studio/TWAINDS_VS2017.vcxproj.user
/TWAIN-Samples/pub/bin/TWAIN_App_QT_201764.exe

