<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attribute</key>
	<dict>
		<key>0x0000</key>
		<string>DAT_NULL</string>
		<key>0x0001</key>
		<string>DAT_CAPABILITY</string>
		<key>0x0002</key>
		<string>DAT_EVENT</string>
		<key>0x0003</key>
		<string>DAT_IDENTITY</string>
		<key>0x0004</key>
		<string>DAT_PARENT</string>
		<key>0x0005</key>
		<string>DAT_PENDINGXFERS</string>
		<key>0x0006</key>
		<string>DAT_SETUPMEMXFER</string>
		<key>0x0007</key>
		<string>DAT_SETUPFILEXFER</string>
		<key>0x0008</key>
		<string>DAT_STATUS</string>
		<key>0x0009</key>
		<string>DAT_USERINTERFACE</string>
		<key>0x000a</key>
		<string>DAT_XFERGROUP</string>
		<key>0x000b</key>
		<string>DAT_TWUNKIDENTITY</string>
		<key>0x000c</key>
		<string>DAT_CUSTOMDSDATA</string>
		<key>0x000d</key>
		<string>DAT_DEVICEEVENT</string>
		<key>0x000e</key>
		<string>DAT_FILESYSTEM</string>
		<key>0x000f</key>
		<string>DAT_PASSTHRU</string>
		<key>0x0010</key>
		<string>DAT_CALLBACK</string>
		<key>0x0101</key>
		<string>DAT_IMAGEINFO</string>
		<key>0x0102</key>
		<string>DAT_IMAGELAYOUT</string>
		<key>0x0103</key>
		<string>DAT_IMAGEMEMXFER</string>
		<key>0x0104</key>
		<string>DAT_IMAGENATIVEXFER</string>
		<key>0x0105</key>
		<string>DAT_IMAGEFILEXFER</string>
		<key>0x0106</key>
		<string>DAT_CIECOLOR</string>
		<key>0x0107</key>
		<string>DAT_GRAYRESPONSE</string>
		<key>0x0108</key>
		<string>DAT_RGBRESPONSE</string>
		<key>0x0109</key>
		<string>DAT_JPEGCOMPRESSION</string>
		<key>0x010a</key>
		<string>DAT_PALETTE8</string>
		<key>0x010b</key>
		<string>DAT_EXTIMAGEINFO</string>
		<key>0x0201</key>
		<string>DAT_AUDIOFILEXFER</string>
		<key>0x0202</key>
		<string>DAT_AUDIOINFO</string>
		<key>0x0203</key>
		<string>DAT_AUDIONATIVEXFER</string>
		<key>0x0301</key>
		<string>DAT_SETUPFILEXFER2</string>
	</dict>
	<key>Capabilities</key>
	<dict>
		<key>0x0001</key>
		<string>CAP_XFERCOUNT</string>
		<key>0x0100</key>
		<string>ICAP_COMPRESSION</string>
		<key>0x0101</key>
		<string>ICAP_PIXELTYPE</string>
		<key>0x0102</key>
		<string>ICAP_UNITS</string>
		<key>0x0103</key>
		<string>ICAP_XFERMECH</string>
		<key>0x1000</key>
		<string>CAP_AUTHOR</string>
		<key>0x1001</key>
		<string>CAP_CAPTION</string>
		<key>0x1002</key>
		<string>CAP_FEEDERENABLED</string>
		<key>0x1003</key>
		<string>CAP_FEEDERLOADED</string>
		<key>0x1004</key>
		<string>CAP_TIMEDATE</string>
		<key>0x1005</key>
		<string>CAP_SUPPORTEDCAPS</string>
		<key>0x1006</key>
		<string>CAP_EXTENDEDCAPS</string>
		<key>0x1007</key>
		<string>CAP_AUTOFEED</string>
		<key>0x1008</key>
		<string>CAP_CLEARPAGE</string>
		<key>0x1009</key>
		<string>CAP_FEEDPAGE</string>
		<key>0x100a</key>
		<string>CAP_REWINDPAGE</string>
		<key>0x100b</key>
		<string>CAP_INDICATORS</string>
		<key>0x100c</key>
		<string>CAP_SUPPORTEDCAPSEXT</string>
		<key>0x100d</key>
		<string>CAP_PAPERDETECTABLE</string>
		<key>0x100e</key>
		<string>CAP_UICONTROLLABLE</string>
		<key>0x100f</key>
		<string>CAP_DEVICEONLINE</string>
		<key>0x1010</key>
		<string>CAP_AUTOSCAN</string>
		<key>0x1011</key>
		<string>CAP_THUMBNAILSENABLED</string>
		<key>0x1012</key>
		<string>CAP_DUPLEX</string>
		<key>0x1013</key>
		<string>CAP_DUPLEXENABLED</string>
		<key>0x1014</key>
		<string>CAP_ENABLEDSUIONLY</string>
		<key>0x1015</key>
		<string>CAP_CUSTOMDSDATA</string>
		<key>0x1016</key>
		<string>CAP_ENDORSER</string>
		<key>0x1017</key>
		<string>CAP_JOBCONTROL</string>
		<key>0x1018</key>
		<string>CAP_ALARMS</string>
		<key>0x1019</key>
		<string>CAP_ALARMVOLUME</string>
		<key>0x101a</key>
		<string>CAP_AUTOMATICCAPTURE</string>
		<key>0x101b</key>
		<string>CAP_TIMEBEFOREFIRSTCAPTURE</string>
		<key>0x101c</key>
		<string>CAP_TIMEBETWEENCAPTURES</string>
		<key>0x101d</key>
		<string>CAP_CLEARBUFFERS</string>
		<key>0x101e</key>
		<string>CAP_MAXBATCHBUFFERS</string>
		<key>0x101f</key>
		<string>CAP_DEVICETIMEDATE</string>
		<key>0x1020</key>
		<string>CAP_POWERSUPPLY</string>
		<key>0x1021</key>
		<string>CAP_CAMERAPREVIEWUI</string>
		<key>0x1022</key>
		<string>CAP_DEVICEEVENT</string>
		<key>0x1024</key>
		<string>CAP_SERIALNUMBER</string>
		<key>0x1026</key>
		<string>CAP_PRINTER</string>
		<key>0x1027</key>
		<string>CAP_PRINTERENABLED</string>
		<key>0x1028</key>
		<string>CAP_PRINTERINDEX</string>
		<key>0x1029</key>
		<string>CAP_PRINTERMODE</string>
		<key>0x102a</key>
		<string>CAP_PRINTERSTRING</string>
		<key>0x102b</key>
		<string>CAP_PRINTERSUFFIX</string>
		<key>0x102c</key>
		<string>CAP_LANGUAGE</string>
		<key>0x102d</key>
		<string>CAP_FEEDERALIGNMENT</string>
		<key>0x102e</key>
		<string>CAP_FEEDERORDER</string>
		<key>0x1030</key>
		<string>CAP_REACQUIREALLOWED</string>
		<key>0x1032</key>
		<string>CAP_BATTERYMINUTES</string>
		<key>0x1033</key>
		<string>CAP_BATTERYPERCENTAGE</string>
		<key>0x1100</key>
		<string>ICAP_AUTOBRIGHT</string>
		<key>0x1101</key>
		<string>ICAP_BRIGHTNESS</string>
		<key>0x1103</key>
		<string>ICAP_CONTRAST</string>
		<key>0x1104</key>
		<string>ICAP_CUSTHALFTONE</string>
		<key>0x1105</key>
		<string>ICAP_EXPOSURETIME</string>
		<key>0x1106</key>
		<string>ICAP_FILTER</string>
		<key>0x1107</key>
		<string>ICAP_FLASHUSED</string>
		<key>0x1108</key>
		<string>ICAP_GAMMA</string>
		<key>0x1109</key>
		<string>ICAP_HALFTONES</string>
		<key>0x110a</key>
		<string>ICAP_HIGHLIGHT</string>
		<key>0x110c</key>
		<string>ICAP_IMAGEFILEFORMAT</string>
		<key>0x110d</key>
		<string>ICAP_LAMPSTATE</string>
		<key>0x110e</key>
		<string>ICAP_LIGHTSOURCE</string>
		<key>0x1110</key>
		<string>ICAP_ORIENTATION</string>
		<key>0x1111</key>
		<string>ICAP_PHYSICALWIDTH</string>
		<key>0x1112</key>
		<string>ICAP_PHYSICALHEIGHT</string>
		<key>0x1113</key>
		<string>ICAP_SHADOW</string>
		<key>0x1114</key>
		<string>ICAP_FRAMES</string>
		<key>0x1116</key>
		<string>ICAP_XNATIVERESOLUTION</string>
		<key>0x1117</key>
		<string>ICAP_YNATIVERESOLUTION</string>
		<key>0x1118</key>
		<string>ICAP_XRESOLUTION</string>
		<key>0x1119</key>
		<string>ICAP_YRESOLUTION</string>
		<key>0x111a</key>
		<string>ICAP_MAXFRAMES</string>
		<key>0x111b</key>
		<string>ICAP_TILES</string>
		<key>0x111c</key>
		<string>ICAP_BITORDER</string>
		<key>0x111d</key>
		<string>ICAP_CCITTKFACTOR</string>
		<key>0x111e</key>
		<string>ICAP_LIGHTPATH</string>
		<key>0x111f</key>
		<string>ICAP_PIXELFLAVOR</string>
		<key>0x1120</key>
		<string>ICAP_PLANARCHUNKY</string>
		<key>0x1121</key>
		<string>ICAP_ROTATION</string>
		<key>0x1122</key>
		<string>ICAP_SUPPORTEDSIZES</string>
		<key>0x1123</key>
		<string>ICAP_THRESHOLD</string>
		<key>0x1124</key>
		<string>ICAP_XSCALING</string>
		<key>0x1125</key>
		<string>ICAP_YSCALING</string>
		<key>0x1126</key>
		<string>ICAP_BITORDERCODES</string>
		<key>0x1127</key>
		<string>ICAP_PIXELFLAVORCODES</string>
		<key>0x1128</key>
		<string>ICAP_JPEGPIXELTYPE</string>
		<key>0x112a</key>
		<string>ICAP_TIMEFILL</string>
		<key>0x112b</key>
		<string>ICAP_BITDEPTH</string>
		<key>0x112c</key>
		<string>ICAP_BITDEPTHREDUCTION</string>
		<key>0x112d</key>
		<string>ICAP_UNDEFINEDIMAGESIZE</string>
		<key>0x112e</key>
		<string>ICAP_IMAGEDATASET</string>
		<key>0x112f</key>
		<string>ICAP_EXTIMAGEINFO</string>
		<key>0x1130</key>
		<string>ICAP_MINIMUMHEIGHT</string>
		<key>0x1131</key>
		<string>ICAP_MINIMUMWIDTH</string>
		<key>0x1136</key>
		<string>ICAP_FLIPROTATION</string>
		<key>0x1137</key>
		<string>ICAP_BARCODEDETECTIONENABLED</string>
		<key>0x1138</key>
		<string>ICAP_SUPPORTEDBARCODETYPES</string>
		<key>0x1139</key>
		<string>ICAP_BARCODEMAXSEARCHPRIORITIES</string>
		<key>0x113a</key>
		<string>ICAP_BARCODESEARCHPRIORITIES</string>
		<key>0x113b</key>
		<string>ICAP_BARCODESEARCHMODE</string>
		<key>0x113c</key>
		<string>ICAP_BARCODEMAXRETRIES</string>
		<key>0x113d</key>
		<string>ICAP_BARCODETIMEOUT</string>
		<key>0x113e</key>
		<string>ICAP_ZOOMFACTOR</string>
		<key>0x113f</key>
		<string>ICAP_PATCHCODEDETECTIONENABLED</string>
		<key>0x1140</key>
		<string>ICAP_SUPPORTEDPATCHCODETYPES</string>
		<key>0x1141</key>
		<string>ICAP_PATCHCODEMAXSEARCHPRIORITIES</string>
		<key>0x1142</key>
		<string>ICAP_PATCHCODESEARCHPRIORITIES</string>
		<key>0x1143</key>
		<string>ICAP_PATCHCODESEARCHMODE</string>
		<key>0x1144</key>
		<string>ICAP_PATCHCODEMAXRETRIES</string>
		<key>0x1145</key>
		<string>ICAP_PATCHCODETIMEOUT</string>
		<key>0x1146</key>
		<string>ICAP_FLASHUSED2</string>
		<key>0x1147</key>
		<string>ICAP_IMAGEFILTER</string>
		<key>0x1148</key>
		<string>ICAP_NOISEFILTER</string>
		<key>0x1149</key>
		<string>ICAP_OVERSCAN</string>
		<key>0x1150</key>
		<string>ICAP_AUTOMATICBORDERDETECTION</string>
		<key>0x1151</key>
		<string>ICAP_AUTOMATICDESKEW</string>
		<key>0x1152</key>
		<string>ICAP_AUTOMATICROTATE</string>
		<key>0x1153</key>
		<string>ICAP_JPEGQUALITY</string>
		<key>0x1201</key>
		<string>ACAP_AUDIOFILEFORMAT</string>
		<key>0x1202</key>
		<string>ACAP_XFERMECH</string>
		<key>0x8000</key>
		<string>CAP_CUSTOMBASE</string>
	</dict>
	<key>Condition</key>
	<dict>
		<key>0</key>
		<string>TWCC_SUCCESS</string>
		<key>1</key>
		<string>TWCC_BUMMER</string>
		<key>10</key>
		<string>TWCC_BADVALUE</string>
		<key>11</key>
		<string>TWCC_SEQERROR</string>
		<key>12</key>
		<string>TWCC_BADDEST</string>
		<key>13</key>
		<string>TWCC_CAPUNSUPPORTED</string>
		<key>14</key>
		<string>TWCC_CAPBADOPERATION</string>
		<key>15</key>
		<string>TWCC_CAPSEQERROR</string>
		<key>16</key>
		<string>TWCC_DENIED</string>
		<key>17</key>
		<string>TWCC_FILEEXISTS</string>
		<key>18</key>
		<string>TWCC_FILENOTFOUND</string>
		<key>19</key>
		<string>TWCC_NOTEMPTY</string>
		<key>2</key>
		<string>TWCC_LOWMEMORY</string>
		<key>20</key>
		<string>TWCC_PAPERJAM</string>
		<key>21</key>
		<string>TWCC_PAPERDOUBLEFEED</string>
		<key>22</key>
		<string>TWCC_FILEWRITEERROR</string>
		<key>23</key>
		<string>TWCC_CHECKDEVICEONLINE</string>
		<key>3</key>
		<string>TWCC_NODS</string>
		<key>4</key>
		<string>TWCC_MAXCONNECTIONS</string>
		<key>5</key>
		<string>TWCC_OPERATIONERROR</string>
		<key>6</key>
		<string>TWCC_BADCAP</string>
		<key>9</key>
		<string>TWCC_BADPROTOCOL</string>
	</dict>
	<key>DataGroup</key>
	<dict>
		<key>1</key>
		<string>DG_CONTROL</string>
		<key>2</key>
		<string>DG_IMAGE</string>
		<key>4</key>
		<string>DG_AUDIO</string>
	</dict>
	<key>Messages</key>
	<dict>
		<key>0x0000</key>
		<string>MSG_NULL</string>
		<key>0x0001</key>
		<string>MSG_GET</string>
		<key>0x0002</key>
		<string>MSG_GETCURRENT</string>
		<key>0x0003</key>
		<string>MSG_GETDEFAULT</string>
		<key>0x0004</key>
		<string>MSG_GETFIRST</string>
		<key>0x0005</key>
		<string>MSG_GETNEXT</string>
		<key>0x0006</key>
		<string>MSG_SET</string>
		<key>0x0007</key>
		<string>MSG_RESET</string>
		<key>0x0008</key>
		<string>MSG_QUERYSUPPORT</string>
		<key>0x0101</key>
		<string>MSG_XFERREADY</string>
		<key>0x0102</key>
		<string>MSG_CLOSEDSREQ</string>
		<key>0x0103</key>
		<string>MSG_CLOSEDSOK</string>
		<key>0x0104</key>
		<string>MSG_DEVICEEVENT</string>
		<key>0x0201</key>
		<string>MSG_CHECKSTATUS</string>
		<key>0x0301</key>
		<string>MSG_OPENDSM</string>
		<key>0x0302</key>
		<string>MSG_CLOSEDSM</string>
		<key>0x0401</key>
		<string>MSG_OPENDS</string>
		<key>0x0402</key>
		<string>MSG_CLOSEDS</string>
		<key>0x0403</key>
		<string>MSG_USERSELECT</string>
		<key>0x0501</key>
		<string>MSG_DISABLEDS</string>
		<key>0x0502</key>
		<string>MSG_ENABLEDS</string>
		<key>0x0503</key>
		<string>MSG_ENABLEDSUIONLY</string>
		<key>0x0601</key>
		<string>MSG_PROCESSEVENT</string>
		<key>0x0701</key>
		<string>MSG_ENDXFER</string>
		<key>0x0702</key>
		<string>MSG_STOPFEEDER</string>
		<key>0x0801</key>
		<string>MSG_CHANGEDIRECTORY</string>
		<key>0x0802</key>
		<string>MSG_CREATEDIRECTORY</string>
		<key>0x0803</key>
		<string>MSG_DELETE</string>
		<key>0x0804</key>
		<string>MSG_FORMATMEDIA</string>
		<key>0x0805</key>
		<string>MSG_GETCLOSE</string>
		<key>0x0806</key>
		<string>MSG_GETFIRSTFILE</string>
		<key>0x0807</key>
		<string>MSG_GETINFO</string>
		<key>0x0808</key>
		<string>MSG_GETNEXTFILE</string>
		<key>0x0809</key>
		<string>MSG_RENAME</string>
		<key>0x080a</key>
		<string>MSG_COPY</string>
		<key>0x080b</key>
		<string>MSG_AUTOMATICCAPTUREDIRECTORY</string>
		<key>0x0901</key>
		<string>MSG_PASSTHRU</string>
		<key>0x0902</key>
		<string>MSG_REGISTER_CALLBACK</string>
		<key>0x0903</key>
		<string>MSG_INVOKE_CALLBACK</string>
	</dict>
	<key>Result</key>
	<dict>
		<key>0</key>
		<string>TWRC_SUCCESS</string>
		<key>1</key>
		<string>TWRC_FAILURE</string>
		<key>2</key>
		<string>TWRC_CHECKSTATUS</string>
		<key>3</key>
		<string>TWRC_CANCEL</string>
		<key>4</key>
		<string>TWRC_DSEVENT</string>
		<key>5</key>
		<string>TWRC_NOTDSEVENT</string>
		<key>6</key>
		<string>TWRC_XFERDONE</string>
		<key>7</key>
		<string>TWRC_ENDOFLIST</string>
		<key>8</key>
		<string>TWRC_INFONOTSUPPORTED</string>
		<key>9</key>
		<string>TWRC_DATANOTAVAILABLE</string>
	</dict>
</dict>
</plist>
